<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">

            <div class="mx-auto max-w-7xl">
                Click one of the links below to visualize the sorting algorithm
                <ul class="mt-6">
                    <li>
                        <a href="/merge-sort" class="text-blue-500 hover:text-blue-600">Merge Sort</a>
                    </li>
                    <li>
                        <a href="/selection-sort" class="text-blue-500 hover:text-blue-600">Selection Sort</a>
                    </li>
                    <li>
                        <a href="/bubble-sort" class="text-blue-500 hover:text-blue-600">Bubble Sort</a>
                    </li>
                    <li>
                        <a href="/heap-sort" class="text-blue-500 hover:text-blue-600">Heap Sort</a>
                    </li>
                </ul>
            </div>
        </LayoutView>
    </NotFound>
</Router>