@page "/selection-sort"
@using AlgoView.Algorithms
@using AlgoView.WebClient.Application
@using System.Timers


<h1 class="text-3xl text-center font-bold mb-6">Selection Sort</h1>
<div class="flex justify-center mb-10 space-x-4">
    <Button OnClick="Sort">Sort</Button>
    <Button OnClick="Randomize">Randomize</Button>
    <Button OnClick="Pause">@PauseButtonText</Button>
</div>

<SortContainer BarData="@_barData" Maximum="@_barData.Select(b => b.Value).Max()"/>

@code {
    private SortContainerBarData[] _barData;
    private Timer _timer;
    private Queue<SortAction<SortContainerBarData>> _actionQueue;
    private SortAction<SortContainerBarData> _previousAction;
    
    private string PauseButtonText => !_timer.Enabled && _actionQueue?.Count > 0 ? "Resume" : "Pause";

    protected override void OnInitialized()
    {
        _timer = new Timer();
        _timer.Interval = 25;
        _timer.Elapsed += (_, _) =>
        {
            if (_previousAction is not null)
            {
                _previousAction.UndoHighlight();
            }

            if (_actionQueue.TryDequeue(out var action))
            {
                action.Execute();
                _previousAction = action;
                StateHasChanged();
            }
        };

        Randomize();
    }

    private void Sort()
    {
        _actionQueue = new Queue<SortAction<SortContainerBarData>>();

        var sorter = new SelectionSort<int>(_barData.Select(b => b.Value).ToArray());
        sorter.Progress += (_, args) =>
        {
            _actionQueue.Enqueue(new SelectionSortProgressAction(_barData, args));
        };

        sorter.MinimumFound += (_, args) =>
        {
            _actionQueue.Enqueue(new SelectionSortMinimumFoundAction(_barData, args));
        };

        sorter.Swapped += (_, args) =>
        {
            _actionQueue.Enqueue(new SelectionSortSwappedAction(_barData, args));
        };

        sorter.Sort();
        _timer.Start();
    }

    private void Pause()
    {
        if (_timer.Enabled)
        {
            _timer.Stop();
        }
        else
        {
            _timer.Start();
        }
    }

    private void Randomize()
    {
        var data = GenerateRandomBarData();

        _barData = data.ToArray();
    }

    private IEnumerable<SortContainerBarData> GenerateRandomBarData()
    {
        var rng = new Random();

        for (var i = 0; i < 50; i++)
        {
            yield return new SortContainerBarData
            {
                Value = rng.Next(i, 101),
            };
        }
    }

}